*{
   padding: 0%;
   margin: 0%;
   box-sizing: border-box;
   font-family: "font-family: 'Archivo', sans-serif;"
}
header{
    color: whitesmoke;
    position: fixed;
    right: 0;
    top: 0%;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 60px;
    background: transparent;
    font-family: "font-family: 'Archivo', sans-serif;"
}
body{
    background: lightgreen ;
}
.logo{
 font-size: 30px;
 font-weight: 700;
 color: whitesmoke;
}

.menu{
 display: flex;
 color: whitesmoke;
}
.menue a {
    color: whitesmoke;
    margin-left: 60px;
    font-size: 25;
    font-weight: 600;
    border-bottom: 2px solid transparent;
}

.Typeography1{
    height: 200px;
    align-items: normal;
    display: grid;
    justify-content: space-between;
    position: absolute;
    left: 0%;
    top: 20%;
}

h1{
    left: 35%;
    top: 20%;
    
}

.GithubWork{
    color: black;
}